# Localhost RPC URL
export LOCALHOST_RPC_URL=http://127.0.0.1:8545

# Mainnet RPC URLs
export MAINNET_RPC_URL=

# Soneium RPC URLs
export SONEIUM_RPC_URL=

# Soneium Minato RPC URL
export SONEIUM_MINATO_RPC_URL=

# ARBITRUM_RPC_URL
export ARBITRUM_RPC_URL=

# Optimism RPC URLs
export OPTIMISM_RPC_URL=

# Testnet RPC URLs
export SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=

export SWAP_FACILITY_ADDRESS=0xB6807116b3B1B321a390594e31ECD6e0076f6278

# On Sepolia we actually only have USDR symbol rn
export SEPOLIA_USDSC_ADDRESS=0x7E426d026f604d1c47b50059752122d8ab1E2C28
export SEPOLIA_USDSC_ADMIN=0x77001610a4fD68548B80E49226c02a99c3b6Ae14

export SEPOLIA_MTOKEN_ADDRESS=0x866A2BF4E572CbcF37D5071A7a58503Bfb36be1b
export SEPOLIA_SWAP_FACILITY_ADDRESS=0x34F141dACB2DeF72D2196a473C585830af8B4004

export M_TOKEN_ADDRESS=0x866A2BF4E572CbcF37D5071A7a58503Bfb36be1b
