# Localhost RPC URL
export LOCALHOST_RPC_URL=http://127.0.0.1:8545

# Mainnet RPC URLs
export MAINNET_RPC_URL=https://ethereum-rpc.publicnode.com

# Soneium RPC URLs
export SONEIUM_RPC_URL=https://rpc.soneium.org

# Soneium Minato RPC URL
export SONEIUM_MINATO_RPC_URL=

# ARBITRUM_RPC_URL
export ARBITRUM_RPC_URL=

# Optimism RPC URLs
export OPTIMISM_RPC_URL=

# Testnet RPC URLs
export SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=

export SWAP_FACILITY_ADDRESS=0xB6807116b3B1B321a390594e31ECD6e0076f6278

# On Sepolia we actually only have USDR symbol rn
export SEPOLIA_USDSC_ADDRESS=0x7E426d026f604d1c47b50059752122d8ab1E2C28
export SEPOLIA_USDSC_ADMIN=0x77001610a4fD68548B80E49226c02a99c3b6Ae14

export SEPOLIA_MTOKEN_ADDRESS=0x866A2BF4E572CbcF37D5071A7a58503Bfb36be1b
export SEPOLIA_SWAP_FACILITY_ADDRESS=0x34F141dACB2DeF72D2196a473C585830af8B4004

# Deployer private key
export DEPLOYER_PRIVATE_KEY=

# USDSC token - same address on all networks
export USDSC_ADDRESS=0x3f99231dD03a9F0E7e3421c92B7b90fbe012985a

# Deployment constructor parameters
export OWNER_ADDRESS=0x3C27038D9906caa5D68355B1800625EAcaCd93dA                    # Owner address (Ownable2Step - can manage settings)
export TREASURY_ADDRESS=0x5e41066D55ED832f9E3d9e747DaF352Cf29391Ef                 # Treasury address (receives yield when no deposits)
export PAUSER_ADDRESS=0x3C27038D9906caa5D68355B1800625EAcaCd93dA                   # Pauser address (can pause/unpause)
export ADMIN_ADDRESS=0x3C27038D9906caa5D68355B1800625EAcaCd93dA                    # Admin address (can manage roles)
export PROXY_ADMIN_OWNER=0x3C27038D9906caa5D68355B1800625EAcaCd93dA                # Owner of ProxyAdmin() contract which can do the upgrades
export BOOST_REWARD_KEEPER_ADDRESS=0x86bE13a26d548FA5407Ee3E5a8321B4E1019333C      # Actor that can call onBoostReward() on EarnVault
export KEEPER_ADDRESS=0x86bE13a26d548FA5407Ee3E5a8321B4E1019333C                   # Actor that can call distribute() on Reward redistributor

export YIELD_REDISTRIBUTOR_ADDRESS=0xFee1467934428Df54C696B36a4747c5Be86674CC      # Yield redistributor contract address (can call onYield)
export YIELD_REDISTRIBUTOR_ADDRESS_V2=0xda798684ffD5eb509c2Ab7b8352EC55B31F18201   # Yield redistributor contract address (after phase1 fix for snapshot)
export EARN_VAULT_ADDRESS=0xFdeB7e9F59cad080D9158ff850Ce79bCf6cdd5f0               # Earn vault contract
export SUSDSC_VAULT_ADDRESS=0x938bca6c4281313Baa82154745E4d020E85E7340             # Staked Startale USD (sUSDSC)

