# RPC URLs
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Contract Addresses
SEPOLIA_USDR_ADDRESS=0x7E426d026f604d1c47b50059752122d8ab1E2C28
SEPOLIA_USDR_ADMIN=0x77001610a4fD68548B80E49226c02a99c3b6Ae14

# Private Keys (for testing only - never use real private keys)
PRIVATE_KEY=your_private_key_here
